<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notify | Welcome</title>
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/welcome.css" />
    <script defer src="/js/all.min.js"></script>
  </head>
  <body>
    <nav>
      <h1><a class="brand" href="">NOTIFY</a></h1>
    </nav>
    <section class="spacer"></section>
    <!-- news letter section -->
    <section class="news-letter">
      <div>
        <h2>Noti<span>Fy</span></h2>
        <p>
          notify is digitale online note plateforme you can store your notes by
          your mobile or laptop easly
        </p>
      </div>
      <div><img src="/images/notes.svg" alt="" /></div>
    </section>
    <!-- join us section -->
    <section class="join-us">
        <h3>JOINUS</h3>
        <div class="options">
            <a href="/auth/register">Create Account</a>
            <a href="/auth/login">I Have Account</a>
        </div>
    </section>
  </body>
</html>
